<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <parameter name="Url" value="https://www.academia.edu/"></parameter>
  <test thread-count="5" name="Test Chrome" parallel="classes">
  <parameter name="Browser" value="Chrome"/>
   <classes>
       <class name="com.qa.testscripts.TC_AcademyeduSignup"/>
        <class name="com.qa.testscripts.TC_Academyedulogin"/>
         <class name="com.qa.testscripts.TC_Searchcourse"/>
      
      
     </classes>
  </test> <!-- Test -->

 
</suite> <!-- Suite -->